[CELERY] BROKER: redis://default:Wqsvf6rZlnE1ysVp4K5qEBsmX8vQMX5LjJ0JcXyqIBIIYy3NqEVLGrFXFkEPN0D9@hww0skgccwc8k40kookw8kwo:6379/0
[CELERY] BACKEND: redis://default:Wqsvf6rZlnE1ysVp4K5qEBsmX8vQMX5LjJ0JcXyqIBIIYy3NqEVLGrFXFkEPN0D9@hww0skgccwc8k40kookw8kwo:6379/0
[Config] Loaded environment from: C:\Users\Chan\Desktop\TechSpaceV2\cybercraft\.env
[Config] --- REDIS DEBUG START ---
[Config] env_broker_url: redis://default:Wqsv...
[Config] REDIS_URL: redis://default:Wqsv...
[Config] CELERY_BROKER_URL: redis://default:Wqsv...
[Config] --- REDIS DEBUG END ---
[Config] Redis connection string determined. Host: 127.0.0.1, Port: 6379
[Config] Using Authenticated Redis: hww0skgccwc8k40kookw8kwo:6379/0
BEGIN;
--
-- Create model GenerationSession
--
CREATE TABLE "builder_generationsession" ("id" uuid NOT NULL PRIMARY KEY, "project_name" varchar(100) NOT NULL, "prompt" text NOT NULL, "output_type" varchar(10) NOT NULL, "style_preset" varchar(30) NOT NULL, "files" jsonb NOT NULL, "explanation" text NOT NULL, "raw_response" text NOT NULL, "status" varchar(20) NOT NULL, "credits_used" integer NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "user_id" bigint NOT NULL);
ALTER TABLE "builder_generationsession" ADD CONSTRAINT "builder_generationsession_user_id_46f878b5_fk_accounts_user_id" FOREIGN KEY ("user_id") REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "builder_generationsession_user_id_46f878b5" ON "builder_generationsession" ("user_id");
COMMIT;
