[CELERY] BROKER: redis://default:Wqsvf6rZlnE1ysVp4K5qEBsmX8vQMX5LjJ0JcXyqIBIIYy3NqEVLGrFXFkEPN0D9@hww0skgccwc8k40kookw8kwo:6379/0
[CELERY] BACKEND: redis://default:Wqsvf6rZlnE1ysVp4K5qEBsmX8vQMX5LjJ0JcXyqIBIIYy3NqEVLGrFXFkEPN0D9@hww0skgccwc8k40kookw8kwo:6379/0
[Config] Loaded environment from: C:\Users\Chan\Desktop\TechSpaceV2\cybercraft\.env
[Config] --- REDIS DEBUG START ---
[Config] env_broker_url: redis://default:Wqsv...
[Config] REDIS_URL: redis://default:Wqsv...
[Config] CELERY_BROKER_URL: redis://default:Wqsv...
[Config] --- REDIS DEBUG END ---
[Config] Redis connection string determined. Host: 127.0.0.1, Port: 6379
[Config] Using Authenticated Redis: hww0skgccwc8k40kookw8kwo:6379/0
BEGIN;
--
-- Remove field order from conversationmessage
--
SET CONSTRAINTS "services_conversatio_order_id_6f2a4918_fk_services_" IMMEDIATE; ALTER TABLE "services_conversationmessage" DROP CONSTRAINT "services_conversatio_order_id_6f2a4918_fk_services_";
ALTER TABLE "services_conversationmessage" DROP COLUMN "order_id" CASCADE;
--
-- Alter unique_together for projectfile (0 constraint(s))
--
ALTER TABLE "services_projectfile" DROP CONSTRAINT "services_projectfile_order_id_filename_1554780b_uniq";
--
-- Remove field order from projectfile
--
SET CONSTRAINTS "services_projectfile_order_id_6bed3cbc_fk_services_" IMMEDIATE; ALTER TABLE "services_projectfile" DROP CONSTRAINT "services_projectfile_order_id_6bed3cbc_fk_services_";
ALTER TABLE "services_projectfile" DROP COLUMN "order_id" CASCADE;
--
-- Delete model CodeRevision
--
DROP TABLE "services_coderevision" CASCADE;
--
-- Delete model ConversationMessage
--
DROP TABLE "services_conversationmessage" CASCADE;
--
-- Delete model ProjectFile
--
DROP TABLE "services_projectfile" CASCADE;
COMMIT;
